@import "../../global.scss";

.portfolio{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 5px;

    h1{
        overflow: hidden;
        font-size: 50px;
        color: $mainColor;

        @include mobile{
            font-size: 30px;
            padding: 5px;
        }
    }
    ul{
        margin: 10px;
        padding: 0;
        list-style: none;
        display: flex;
        overflow: hidden;

        
        @include mobile{
            flex-wrap: wrap;
            justify-content: center;
        }
       
        li{
            font-size: 20px;
            margin-right: 50px;
            padding: 7px;
            border-radius: 10px;
            cursor: pointer;

            @include mobile{
                font-size: 14px;
            }
    

            &.active{
                background-color: $mainColor;
                color: white;
            }
        }
    }
    .container{
        width: 70%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;

        @include mobile{
            width: 100vw;
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
        }

        .item{
            width: 100%;
            height: 700px;
            border-radius: 20px;
            border: 1px solid lightgrey;
            margin: 10px 20px;
            display: flex;
            align-items: top center;
            text-align: center;
            justify-content: top center;
            color: white;
            overflow: hidden;
            position: relative;
            transition: all .5s ease;
            cursor: pointer;


            @include mobile{
                width: 100vw;
                height: 300px;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                overflow: hidden;
            }
          

            h3{
                display: flex;
                text-align: center;
                font-size: 30px;
                position: absolute;
                align-items: center;
                justify-content: center;
            }
            img{
                width: 100%;
                height: 100%;
                object-fit:scale-down;
                justify-content: center;
                z-index: 1;

               

            }
            &:hover{
                background-color: $mainColor;
                img{
                    opacity: 0.5;
                    z-index: 0;
                    justify-content: center;
                    
                }
            }
        }
    }
}